In [8]:
#vector, list & array
import numpy as np

#scalar
a=1
b=2
c=3

#list
alist = [a, b, c]
#print(alist)
alist2 = [a] + [b] + [c]
#print(alist2)

blist1 = [[1,2,3], [4,5,6], [7,8,9]]
blist2 = [[10,11,12], [13,14,15], [16,17,18]]
blist3 = [['a', 'b', 'c'], ['d', 'e', 'f']]

clist = [blist1, blist2, blist3]
#print(clist)
dlist =[blist1, blist2]
#print(dlist)

darray = np.array(dlist)
#print(darray)

for idx in range(3):
    print(darray[0, 0, idx])

for i in range(0,10):
    for a in range(0, i):
        print('k')
    print('k')

np.shape(darray)

1
2
3
k
ggk
ggggk
ggggggk
ggggggggk
ggggggggggk
ggggggggggggk
ggggggggggggggk
ggggggggggggggggk
ggggggggggggggggggk

(2, 3, 3)

In [1]:
print("한석원")

한석원

In [2]:
print("한석원")
print("한석원")
print("한석원")

한석원
한석원
한석원

In [6]:
for number in [0,1,2]:
    print(number)
    print("한석원")

0
한석원
1
한석원
2
한석원

In [9]:
for name in ["한석원", "김민규", "김지혜"]:
    print("name")

name
name
name

In [13]:
namelist = ["한석원", "이나현", "우어진", "김수지"]

for hana in namelist:
    print(hana)

for hana in ["한석원", "이나현", "우어진", "김수지"]:
    print(hana)

한석원
이나현
우어진
김수지
한석원
이나현
우어진
김수지

In [11]:
for nameidx in [0,1,2,3]:
    print(namelist)

for 변수 in 범위:
    알고리즘

['한석원', '이나현', '우어진', '김수지']
['한석원', '이나현', '우어진', '김수지']
['한석원', '이나현', '우어진', '김수지']
['한석원', '이나현', '우어진', '김수지']

In [12]:
for nameidx in [0,1,2,3]:
    print(namelist[nameidx])

한석원
이나현
우어진
김수지

In [14]:
for nameidx in range(4):
    print(namelist[nameidx])

한석원
이나현
우어진
김수지