# <세션 1일차>
- 공부 내용 : 자료형, if문, 함수

- 세션 1일차 코테 링크
https://programmers.co.kr/learn/courses/30/lessons/86051
https://programmers.co.kr/learn/courses/30/lessons/12922
https://programmers.co.kr/learn/courses/30/lessons/12916

# 자료형

# 1. 정수

In [1]:
x = 10
y = 3
z = 100_0000_0000
print(type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [2]:
print(x+y)
print(x - y)
print(x*y)
print(x/y)
print(x**y)
print()
print(x//y) # 몫
print(x%y)  # 나머지

13
7
30
3.3333333333333335
1000

3
1

# 2. 실수

In [21]:
x=4.
y=0.5
print(type(x), type(y))

<class 'float'> <class 'float'>

# 3. Boolean

In [30]:
x = True
y = False

3<=2

print(True == 1)
print(False == 0)
print(True + 2)

True
True
3

# 4. 문자열

In [34]:
x = "Hello"
y = '10000'
z = """one
two
three
"""

print(type(x), type(y), type(z))
print(x+y+z)

<class 'str'> <class 'str'> <class 'str'>
Hello10000one
two
three

# 5. 리스트

In [35]:
l = [1, '2', True, [1, 2, 3]]

리스트 값 확인

In [40]:
l[3]

1

리스트 추가 append()

In [37]:
l.append(1)
l.append('1')
print(l)

[1, '2', True, [1, 2, 3], 1, '1']

리스트 삭제 pop()

In [39]:
l.pop()

print(l)

[1, True, [1, 2, 3], 1]

리스트 더하기

In [42]:
print([1, 2, 3] + [4, 5, 6])
print([1, 2, 3] * 4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# 6. 형변환

In [51]:
print(int(4.5), float(4), str(10), bool(1))

4 4.0 10 True

In [50]:
x = 010
print(int(4.5), float(4), str(x), bool(1))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2262419264.py, line 1)

리스트 안 문자열을 하나의 문자열로 만들어주는 

리스트 사이 값.join(리스트)

In [65]:
l=['oh', 'one', 'True']
join = " ".join(l)
join

'oh one True'

하나의 문자열을 각 리스트 요소로 만들 때 

문자열.split(나누는 기준)

In [71]:
s = 'one two three'
s.split('o')

['', 'ne tw', ' three']